# Build
build/
out/
.gradle/

# IDE
.idea/
*.iml

# Misc
tesseract/accounts.json

# Run directory (client de teste)
run/
!run/mods/
!run/config/

# Logs
*.log

# Relatórios de mixin
mixin_implementation_report.*